@media screen and (max-width: 600px) {
  .short-stack thead {
    display: none;
  }
  .short-stack tr {
    margin-bottom: 20px;
    display: block;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
  }
  .short-stack td {
    display: block;
    text-align: right;
  }
  .short-stack td:last-child {
    border-bottom: 0;
  }
  .short-stack td:before {
    content: attr(data-label);
    float: left;
    margin-right: 5px;
    font-weight: bold;
  }
}